.acc-Search {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.acc-Search_Input {
  box-sizing: border-box;
  border: 1px solid rgba(244,244,244,.1);
  background-color: #000000;
  padding: 10px;
  font-size: 16px;
  width: 280px;
  color: #97999b;
}

.acc-Search_Input:focus-visible {
  outline: none;
}

.acc-Search_Auto {
  height: 197.5;
  overflow: scroll;
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid rgba(244,244,244,.1);
  border-top: none;
}

.acc-Search_Auto div {
  padding: 10px;
  cursor: pointer;
  background-color: #000000;
}

/*when hovering an item:*/
.acc-Search_Auto div:hover {
  background-color: var(--Color_Grey);
}

.acc-Search_Icon {
  width: 20px;
  position: absolute;
  right: 6px;
  font-weight: bold;
  color: red;
  top: 10px;
}